Source: wubi
Section: universe/devel
Priority: optional
Maintainer: Agostino Russo <agostino.russo@gmail.com>
Build-Depends: debhelper, python-central, lsb-release, gcc-multilib [amd64], grub-pc-bin
Standards-Version: 3.7.2
XS-Python-Version: current

Package: wubi
Architecture: any
Depends: ${python:Depends}, ${shlibs:Depends}
Provides: ${python:Provides}
XB-Python-Version: ${python:Versions}
Description: Wubi is the Windows Ubuntu Installe
