#include <winresrc.h>
#include "resource.h"

ICO_MAIN ICON "grubinst.ico"

DLG_MAIN DIALOG 200, 50, 223, 318
STYLE WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU | WS_THICKFRAME | WS_MINIMIZEBOX
CAPTION "Grub4Dos Installer"
FONT 9, "MS Sans Serif"
{
 GROUPBOX "Device Name", IDC_GROUPBOX1, 8, 4, 208, 96, BS_GROUPBOX
 AUTORADIOBUTTON "Disk", IDC_ISDISK, 24, 20, 32, 12, BS_AUTORADIOBUTTON | WS_TABSTOP
 COMBOBOX IDC_DISKS, 64, 20, 96, 48, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
 PUSHBUTTON "Refresh", IDC_REFRESH_DISK, 168, 19, 32, 16
 AUTORADIOBUTTON "File", IDC_ISFILE, 24, 40, 32, 12, BS_AUTORADIOBUTTON | WS_TABSTOP
 EDITTEXT IDC_FILENAME, 64, 40, 96, 12, WS_BORDER | WS_TABSTOP
 PUSHBUTTON "Browse", IDC_BROWSE, 168, 40, 32, 16
 LTEXT "Part List", IDC_LPART, 24, 62, 32, 8
 COMBOBOX IDC_PARTS, 64, 61, 96, 72, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
 PUSHBUTTON "Refresh", IDC_REFRESH_PART, 168, 60, 32, 16
 AUTOCHECKBOX "Save embeded GRLDR.MBR", IDC_OUTPUT, 24, 80, 168, 12
 GROUPBOX "Options", IDC_GROUPBOX2, 8, 104, 208, 132, BS_GROUPBOX
 AUTOCHECKBOX "Read only mode", IDC_READ_ONLY, 24, 118, 80, 12
 AUTOCHECKBOX "Verbose output", IDC_VERBOSE, 112, 118, 88, 12
 AUTOCHECKBOX "No backup MBR", IDC_NO_BACKUP_MBR, 24, 134, 80, 12
 AUTOCHECKBOX "Don't search floppy", IDC_DISABLE_FLOPPY, 112, 134, 88, 12
 AUTOCHECKBOX "Disable PrevMBR", IDC_DISABLE_OSBR, 24, 150, 80, 12
 AUTOCHECKBOX "Previous MBR first", IDC_PREVMBR_FIRST, 112, 150, 88, 12
 AUTOCHECKBOX "Grub2", IDC_GRUB2, 24, 166, 80, 12
 AUTOCHECKBOX "Floppy image", IDC_IS_FLOPPY, 112, 166, 88, 12
 LTEXT "Timeout", IDC_LTIMEOUT, 24, 186, 32, 8
 EDITTEXT IDC_TIMEOUT, 64, 184, 32, 12, ES_AUTOHSCROLL | WS_BORDER | WS_TABSTOP
 LTEXT "Hot Key", IDC_LHOTKEY, 112, 186, 32, 8
 EDITTEXT IDC_HOTKEY, 152, 184, 48, 12, ES_AUTOHSCROLL | WS_BORDER | WS_TABSTOP
 LTEXT "Load Seg", IDC_LLOADSEG, 24, 202, 32, 8
 EDITTEXT IDC_LOADSEG, 64, 200, 32, 12, ES_AUTOHSCROLL | WS_BORDER | WS_TABSTOP
 LTEXT "Boot File", IDC_LBOOTFILE, 112, 202, 32, 8
 EDITTEXT IDC_BOOTFILE, 152, 200, 48, 12, ES_AUTOHSCROLL | WS_BORDER | WS_TABSTOP
 LTEXT "Extra", IDC_LEXTRA, 24, 218, 36, 8
 EDITTEXT IDC_EXTRA, 64, 216, 136, 12, ES_AUTOHSCROLL | WS_BORDER | WS_TABSTOP
 GROUPBOX "Restore", IDC_GROUPBOX3, 8, 240, 208, 56, BS_GROUPBOX
 LTEXT "Save File", IDC_LSAVEFILE, 24, 256, 32, 8
 EDITTEXT IDC_SAVEFILE, 64, 254, 96, 12, WS_BORDER | WS_TABSTOP
 PUSHBUTTON "Browse", IDC_BROWSE_SAVE, 168, 252, 32, 16
 AUTOCHECKBOX "Restore from file", IDC_RESTORE_SAVE, 24, 276, 72, 12
 AUTOCHECKBOX "Restore from PrevMBR", IDC_RESTORE_PREVMBR, 112, 276, 88, 12
 PUSHBUTTON "Test", IDC_TEST, 32, 300, 50, 14
 PUSHBUTTON "Install", IDC_INSTALL, 88, 300, 50, 14
 PUSHBUTTON "Quit", IDC_QUIT, 144, 300, 50, 14
}

STRINGTABLE
{
 IDS_MAIN, "Grub4Dos Installer"
 IDS_NO_SAVEFILE, "No save file specified"
 IDS_NO_DISKNAME, "Disk name is empty"
 IDS_NO_FILENAME, "File name is empty"
 IDS_NO_DEVICETYPE, "Device type not selected"
 IDS_EXEC_ERROR, "Can't run the background program"
 IDS_INVALID_FILE, "Invalid input file"
 IDS_WHOLE_DISK, "Whole disk"
 IDS_NO_DEVICE, "Cannot use device name"
 IDS_INVALID_MBR, "Invalid partition table, if you still want to install, use the --skip-mbr-test option"
}
